.app{
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */

  width: 50%;
  margin:auto;
}


.search{
   display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */

  background:#DCEBFA;
  height: 80px;
  margin-bottom: 1rem;
}

.search input[type='text']{
  
  width: 50%;
}

.search input{
  height: 30px;
}
.filter-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin:auto;
}